<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="exe_title.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <exe_title.My.MySettings>
            <setting name="CustomExecutable" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RawPattern" serializeAs="String">
                <value>%title% - %artist%</value>
            </setting>
            <setting name="CustomPattern" serializeAs="String">
                <value>♫ %title% - %artist%</value>
            </setting>
            <setting name="Marquee" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxLength" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="MarqueeInterval" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="OutputFilePath" serializeAs="String">
                <value>music_title.txt</value>
            </setting>
        </exe_title.My.MySettings>
    </userSettings>
</configuration>